{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Jagadeesh's Resume</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Resume/CV／Portfolio Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.css' %}">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'css/styles-14.css' %}">
    <link id="theme-style" rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <header class="header">
        <div class="top-bar container-fluid">
            <!--<div class="actions">
                <a class="btn hidden-xs" href="mailto:someone@example.com"><i class="fa fa-paper-plane" aria-hidden="true"></i> Hire Me</a>
                <a class="btn" href="#"><i class="fa fa-download" aria-hidden="true"></i> Download My Resume</a>
            </div>--><!--//actions-->
            <ul class="social list-inline">
                <li><a href="https://linkedin.com/in/jagadeesh-pandian/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/Jaga_Pandian"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://aboutme.google.com/u/0/?referer=gplus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="https://github.com/jagadeeshpandian"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
            </ul><!--//social-->
        </div><!--//top-bar-->

        <div class="intro">
            <div class="container text-center">
                <img class="profile-image" src="{% static 'images/jaga.jpeg' %}" alt="Jaga's profile image" />
                <h1 class="name">Jagadeesh Pandian</h1>
                <div class="title">Aspiring Data Scientist </div>
                <div class="profile">
                    <p>Dedicated and Motivated Engineering Graduate having a general passion for innovation. Moreover, motivation increases when you’re exposed to different skills and know-how. It makes you want to get the most from yourself as well. With 7+ years of IT experience spanning over multiple technologies backed by advanced Data Analysis skills, would like to shape my career with positive contributions to the Organisation I am with.</p>
                </div><!--//profile-->
            </div><!--//container-->
        </div><!--//intro-->

        <div class="contact-info">
            <div class="container text-center">
                <ul class="list-inline">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:jagadeeshprofile@yahoo.in">jagadeeshprofile@    yahoo.in</a></li>
                    <li><i class="fa fa-phone"></i> <a href="tel: +919003289862">+919003289862</a></li>
                    <li class="website"><i class="fa fa-globe"></i><a href="https://communities.sas.com/t5/user/viewprofilepage/user-id/137256">SAS Community</a></li>
                </ul>
            </div><!--//container-->
        </div><!--//contact-info-->

        <div class="page-nav-space-holder hidden-xs">
            <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
                <div class="container">
                    <ul id="page-nav" class="nav page-nav list-inline">
                        <li><a class="scrollto" href="#experiences-section">Experiences</a></li>
                        <li><a class="scrollto" href="#education-section">Education</a></li>
                        <li><a class="scrollto" href="#skills-section">Skills</a></li>
                        <li><a class="scrollto" href="#testimonials-section">Testimonials</a></li>
                        <li><a class="scrollto" href="#portfolio-section">Portfolio</a></li>
                        <li><a class="scrollto" href="#contact-section">Contact</a></li>
                    </ul><!--//page-nav-->
                </div>
            </div><!--//page-nav-wrapper-->
        </div>

    </header><!--//header-->

    <div class="wrapper container">
        <section id="experiences-section" class="experiences-section section">
            <h2 class="section-title">Work Experiences</h2>
            <div class="timeline">
                <div class="item">
                    <div class="work-place">
                        <h3 class="place"><b>Standard Chartered GBS</b></h3>
                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Chennai, Tamil Nadu</div>
                    </div>
                    <div class="job-meta">
                        <div class="title">Associate Manager</div>
                        <div class="time">January, 2020 - Present</div>
                    </div><!--//job-meta-->
                    <div class="job-desc">
                        <p>As an Associate Manager I've been identifying areas to increase efficiency and automation of processes.</p>
                        <ul>
                          <li>Develop and support reporting processes.</li>
                          <li>Liaise with internal and external clients to fully understand data content.</li>
                          <li>mine and analyse large datasets, draw valid inferences and present them successfully to management using a reporting tool. </li>
                        </ul>
                    </div><!--//job-desc-->
                </div><!--//item-->

                <div class="item">
                    <div class="work-place">
                        <p>
                            <h3 class="place"><b>Accenture Solutions Pvt Ltd</b></h3>
                        </p>
                        <div class="location">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>Chennai, TamilNadu</div>
                    </div>
                    <div class="job-meta">
                        <div class="title">Application Development</div>
                        <div class="title">Senior Analyst</div>
                        <div class="time">September, 2017- January, 2020</div>
                    </div>
                    <!--//job-meta-->
                    <div class="job-desc">
                        <p>As a Senior Analyst I am resposnbile for building advanced reporting programs</p>
                        <ul>
                            <li>Prepare reports for internal and external audiences using business analytics reporting tools</li>
                            <li>Create data dashboards, graphs and visualisations</li>
                            <li>Set up and maintain automated data processes</li>                          
                        </ul>
                    </div>
                    <!--//job-desc-->
                </div><!--//item-->

                <div class="item">
                    <div class="work-place">
                        <h3 class="place"><b>Cognizant Tecnology Solutions</b></h3>
                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Chennai, Tamil Nadu</div>
                    </div>
                    <div class="job-meta">
                        <div class="title">Programmer Analyst</div>
                        <div class="time">April, 2016 - September, 2017</div>
                    </div><!--//job-meta-->
                    <div class="job-desc">
                        <p> Being part of Enterprise Data Office, involved in creating reports for various line of business using reporting tools. Having working knowledge of Enterprise Data warehouse. Analyzing artifacts and producing meaningful reports. </p>
                    </div><!--//job-desc-->
                </div><!--//item-->

                <div class="item">
                    <div class="work-place">
                        <h3 class="place"><b>Aon Hewitt</b></h3>
                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Chennai, Tamil Nadu</div>
                    </div>
                    <div class="job-meta">
                        <div class="title">Batch Technical Specialist</div>
                        <div class="time">August, 2013 - April, 2016</div>
                    </div><!--//job-meta-->
                    <div class="job-desc">
                        <p>Possess extensive knowledge of developing, modifying and maintaining SAS programs. Experience in extracting, manipulating data, and creating Data Sets from various sources like Excel, flat file and DB2.</p>
                    </div><!--//job-desc-->
                </div><!--//item-->                

               

            </div><!--//timeline-->

        </section><!--//section-->

        <section id="education-section" class="education-section section">
            <h2 class="section-title">Education</h2>
            <div class="row">
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <h3 class="degree">B.Tech in Information Technology</h3>
                        <div class="education-body"><br>
                           R.M.K Engineering College
                        </div><!--//education-body-->
                        <div class="time">2009 - 2013</div>
                        <div class="desc">
                            Affiliated to ANNA University, Chennai, Tamil Nadu.
                            'Maintained a CGPA of 7.47'
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
               
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <h3 class="degree">Certifications</h3>
                        <div class="education-body"><br>
                           University of Cambridge ESOL Level 1
                        </div><!--//education-body-->
                        <div class="time">2013</div>
                        <div class="desc">
                          There are three Cambridge English Qualifications for business. Each one is targeted at a different level and BEC Vantage is the second of these exams. The content for each exam is based on everyday work and business tasks and is designed to develop your business English skills.
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <h3 class="degree">Professional Qualifications</h3>
                            <div class="education-body"><br>
                                    Atlassian Software Products
                            </div><!--//education-body-->
                            <div class="time">2020</div>
                            <div class="desc">
                              Coursera is a online learning platform that offers massive open online courses, specilizations and degrees.
                              Completed <a href="https://coursera.org/share/51370560c7f7c8b873c4b79880dbba74">Agile with Atlassian Jira</a>  and <a href= "https://coursera.org/share/53786b04bbde1535a5fb980e6b49e86c">Version Control with Git </a> 
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->

            </div><!--//row-->
        </section><!--//section-->


        <section id="skills-section" class="skills-section section text-center">
            <h2 class="section-title">Professional Skills</h2>
            <div class="top-skills">
                <h3 class="subtitle">Top Skills</h3>
                <div class="row">
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <h4 class="skill-name">SAS</h4>
                            <div class="level">Intermediate</div>
                            <div class="desc">
                                I've been working with BASE SAS 9 from year 1 of my IT profession. Experience on SAS setup, coding, development, analysis, debugging, implementation and maintenance as a Programmer/with experience in Windows or Mainframe environments. Solid experience on SAS programming for data analysis, especially in data preparation such as cleansing, creating, integrating, sampling, and analyzing data set
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <h4 class="skill-name">Python &amp; Pandas</h4>
                            <div class="level">Beginner</div>
                            <div class="desc">
                                Thorough understanding of Python 3.x basic concepts like Lists, Strings, Indexing, Slicing, Tuples and Dictionaries. Good experience in working with various Python Integrated Development Environments like PyCharm, Spyder, Jupyter Notebook, Anaconda. Familiar with NumPy, Pandas and Mathplotlib. Used Django web framework to build this website.
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <h4 class="skill-name">Power BI</h4>
                            <div class="level">Beginner</div>
                            <div class="desc">
                                Published Power BI Reports in the required originations and Made Power BI Dashboards available for Web clients <br> My Worsksample is  <br> <a href="http://www.google.com">Power BI Dashboard</a>
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                </div><!--//row-->
            </div><!--//top-skills-->

            <div class="other-skills">
                <h3 class="subtitle">Other Skills</h3>
                <div class="misc-skills">
                    <span class="skill-tag">DB2</span>
                    <span class="skill-tag">Git</span>
                    <span class="skill-tag">Agile</span>
                    <span class="skill-tag">WinSCP</span>
                    <span class="skill-tag">Kanban</span>
                    <span class="skill-tag">SAS Macros</span>
                  
                    <br>
                    
                    <span class="skill-tag">SQL</span>
                    <span class="skill-tag">JIRA</span>
                    <span class="skill-tag">Confluence</span>
                    <span class="skill-tag">Excel</span>                    
                    <span class="skill-tag">DAX</span>
                    <span class="skill-tag">SAS EG</span>
                </div>
            </div><!--//other-skills-->

        </section><!--//skills-section-->

        <section id="testimonials-section" class="testimonials-section section">
            <h2 class="section-title">Recommendations</h2>

            <div id="testimonials-carousel" class="testimonials-carousel carousel slide" data-interval="8000">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <blockquote class="quote">
                            <i class="fa fa-quote-left"></i>
                            <p>An excellent partner, developer and friend. We've worked together for a benefits administration and cloud-based HR and financial solutions client, participating in several positions in the Software Development field and side projects.</p>
                            <p>He is creative, innovative, responsible and quite a rational thinker. Coding as a way of life, his work presents products with great quality, following standards and good practices.</p>
                            <p>Also passionate, confident, cheerful and respectful, his animosity moves people forward toward achieving the team's goals.</p>
                        </blockquote>
                        <div class="source">
                            <div class="name">John Benito JP</div>
                            <div class="position">Senior Associate, Cognizant Technology Solutions</div>
                        </div><!--//source-->

                    </div><!--//item-->
                    <div class="item">
                        <blockquote class="quote">
                            <p><i class="fa fa-quote-left"></i>
                              Jagadeesh is a really good working partner with high knowledge on report development, he is always concerned with going forward never afraid of improving or making use of new technologies, helping his peers whenever he is able to and solving problems in a quick and efficient manner with his typical optimism</p>
                              <p>Saying from personal Experience when we worked on project togather for 2 years.</p>
                        </blockquote>
                        <div class="source">
                            <div class="name">Joshua Harris M</div>
                            <div class="position">Associate Manager, Standard Chartered GBS</div>
                        </div><!--//source-->

                    </div><!--//item-->

                </div><!--//carousel-inner-->
            </div><!--//testimonials-carousel-->

        </section><!--//section-->


        <section id="portfolio-section" class="portfolio-section section">
            <h2 class="section-title">Projects</h2>
            <ul id="filters" class="filters clearfix">
                <li class="type active" data-filter="*">All</li>
            </ul><!--//filters-->
            <div class="items-wrapper isotope row">
                    <div class="item * col-md-4 col-xs-8 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <img class="img-responsive" src="{% static 'images/portfolio/learn-python.jpg' %}" alt="" />
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="https://github.com/jagadeeshpandian/python-tutorial">Development Hands-on</a></h3>
                            <div class="meta"><u> Technology: Python, Django Framework.</u><br><br>
                                In order to demonstrate the knowledge of Python and Git, created a GitHub Repository to 
                               show case the python learning. Jupyter Notebooks were created to understand the fundamentals of Python programming in a organised way.
                               <br><br><br>
                                <br><br>
                                <br><br>
                                    </div>
                            <div class="action"><a href="https://github.com/jagadeeshpandian/python-tutorial">Github</a></div>
                        </div><!--//content-->
                        <a class="link-mask" href="https://github.com/jagadeeshpandian/python-tutorial"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item * col-md-4 col-xs-8 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <img class="img-responsive" src="{% static 'images/portfolio/microsoft-power-bi-walktrhough.jpg' %}" alt="" />
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="https://github.com/jagadeeshpandian/python-tutorial">Visualization Hands-on</a></h3>
                            <div class="meta"><u>Technology: Power BI and Kanban</u><br><br>
                            	This Project was to show case the hands-on on the Power BI like sourcing data from different and variety of sources. It is also aimed to show case the report/ dashboard creation and publishing the dashboard for different channels and users. Kanban Framework was followed to create and publish the dashboard. Confluence lin is work in progress.
                                </div>
                            <br><br>
                            <div class="action"><a href="https://github.com/jagadeeshpandian/python-tutorial">Github</a></div>
                        </div><!--//content-->
                        <a class="link-mask" href="https://github.com/jagadeeshpandian/python-tutorial"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
        </section><!--//section-->

        <section id="contact-section" class="contact-section section">
            <h2 class="section-title">Get in Touch</h2>
            <div class="intro">
                <img class="profile-image" src="{% static 'images/jaga2.jpeg' %}" alt="Jaga's profile image">
                <div class="dialog">
                    <p>I'm currently working fulltime as Associate Manager for <a href="http://sc.com/in" target='_blank'>Standard Chartered GBS</a>, but I'm always open to new opportunities that help me to shape my career and achieve organisation's goal. I intend to help the community as much as I can on other projects.</p>
                    <p><strong>I can help with the following:</strong></p>
                    <ul class="list-unstyled service-list">
                        <li><i class="fa fa-check" aria-hidden="true"></i> Report Development using Procedures and ODS of BASE SAS 9.4</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Statistical Analysis using SAS</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Report Development and data analysis using Python</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Visualizations and Dashboard creation using Power BI</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Agile Project and Process Management using JIRA </li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Team Collaboration through Confluence</li>
                    </ul>
                    <p>Drop me a line at <a href="mailto:jagadeeshprofile@yahoo.in">jagadeeshprofile@yahoo.in</a> or call me at <a href="tel:+919003289862">+919003289862</a></p>
                    <ul class="social list-inline">
                            <li><a href="https://linkedin.com/in/jagadeesh-pandian/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/Jaga_Pandian"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://aboutme.google.com/u/0/?referer=gplus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="https://github.com/jagadeeshpandian"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    </ul><!--//social-->
                </div><!--//diaplog-->
            </div><!--//intro-->

        </section><!--//section-->

    </div><!--//wrapper-->

    <footer class="footer text-center">
        <div class="container">
            <small class="copyright"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</small>
        </div><!--//container-->
    </footer>

    <!-- Javascript -->
    <script type="text/javascript" src="{% static 'plugins/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/back-to-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery-scrollTo/jquery.scrollTo.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/easy-pie-chart/src/easypiechart.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/easy-pie-chart/src/jquery.plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/easy-pie-chart/src/renderer/canvas.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/imagesloaded.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/isotope.pkgd.min.js' %}"></script>

    <!-- custom js -->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>
</html>
